server:
  port: 8443
  ssl:
    enabled: true
    key-store: file:/etc/certs/gateway-keystore.p12
    key-store-password: ${GATEWAY_KEYSTORE_PASSWORD:changeit}
    key-store-type: PKCS12

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: catalog-route
          uri: http://catalog-service:8080
          predicates:
            - Path=/api/catalog/**
          filters:
            - RewritePath=/api/catalog/(?<segment>.*), /internal/catalog/$\{segment}
        - id: inventory-route
          uri: http://inventory-service:8080
          predicates:
            - Path=/api/inventory/**
          filters:
            - RewritePath=/api/inventory/(?<segment>.*), /internal/inventory/$\{segment}
        - id: order-route
          uri: http://order-service:8080
          predicates:
            - Path=/api/orders/**
          filters:
            - RewritePath=/api/orders/(?<segment>.*), /internal/orders/$\{segment}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak.zerotrust.svc.cluster.local:8080/realms/zerotrust}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
