spring:
  application:
    name: course-platform-demo
  datasource:
    url: jdbc:h2:file:./data/courseplatformdb;MODE=PostgreSQL;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false
        generate_statistics: true
  h2:
    console:
      enabled: true
      path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.example.courseplatformdemo: INFO
    org.hibernate.stat: INFO