apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: zerotrust
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - name: https
      port: 8443
      targetPort: 8443
      nodePort: 30443
